*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --C: hsl(0, 100%, 50%);
    --Db: hsl(271, 100%, 80%);
    --D: hsl(60, 100%, 50%);
    --Eb: hsl(240, 20%, 50%);
    --E: hsl(189, 100%, 95%);
    --F: hsl(9, 98%, 34%);
    --Gb: hsl(192, 100%, 50%);
    --G: hsl(24, 100%, 50%);
    --Ab: hsl(300, 100%, 50%);
    --A: hsl(120, 60%, 50%);
    --Bb: hsl(300, 1%, 55%);
    --B: hsl(240, 100%, 50%);

}



body {
   
    background-image: linear-gradient(45deg, var(--C) 10%, var(--B) 100%);
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.piano {
    display: flex;
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

.key {
    height: calc(var(--width)*4);
    width: var(--width);
}

@keyframes fade-out {
    from {
      opacity: 0.6
    }
    to {
      opacity: 1
    }
  }

.white {
    --width: 35px;
    background-image: linear-gradient(white 10%, rgb(193, 217, 241) 100%);
    border: 1px solid rgb(0, 0, 0);
}

.white.active {
    background-image: linear-gradient(hsl(247, 35%, 66%) 10%, hsl(210, 63%, 85%) 100%);
    animation: 1s fade-out;
}

.black {
    --width: 20px;
    background-image: linear-gradient(rgb(0, 0, 0) 10%, rgb(7, 50, 93) 100%);
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index: 2;
}
.black.active {
    background-image: linear-gradient(rgb(83, 17, 146) 10%, rgb(7, 50, 93) 100%);
    animation: 1s fade-out;
}

